In [ ]:
print(input("Nama: "))
print(input("NIM: "))
print(input("Kelas: "))

## 1.

buatlah program sederhana untuk:
* **A** mencari massa jika diketahui nilai energi potensial, percepatan gravitasi, dan ketinggian benda! beserta rumus nya!
* **B** mencari gaya apung jika diketahui massa jenis, tinggi, panjang, dan lebar benda serta percepatan gravitasi dan contohnya! beserta rumus nya!
* **C** Tulis program Python untuk menghitung luas dari segi lima sama sisi!

> *note* : rumus, contoh, dan nilai dari tiap variabel ditentukan oleh kalian sendiri dan gunakan satuan baku (SI) untuk menghitung nilai dari tiap variabel

In [ ]:
#A
EnergiPotensial = float(input("Masukkan Nilai Energi Potensial = "))
PercepatanGravitasi = float(input("Masukkan Nilai Percepatan Gravitasi = "))
Ketinggian = float(input("Masukkan Nilai Ketinggian Benda = "))

Massa = EnergiPotensial/(PercepatanGravitasi*Ketinggian)

print("Nilai Energi Potensial adalah", EnergiPotensial, "Joule")
print("Nilai Percepatan Gravitasi adalah", PercepatanGravitasi, "m/s^2")
print("Nilai Ketinggian adalah", Ketinggian, "m")
print("Nilai Massa adalah", Massa, "kg")

In [ ]:
#B
MassaJenis = float(input("Masukkan Nilai Massa Jenis = "))
Gravitasi = float(input("Masukkan Nilai Gravitasi = "))
Tinggi = float(input("Masukkan Nilai Tinggi = "))
Panjang = float(input("Masukkan Nilai Panjang = "))
Lebar = float(input("Masukkan Nilai Lebar = "))

Volume = Panjang*Lebar*Tinggi
GayaApung = MassaJenis*Gravitasi*Volume

print("Nilai Massa Jenis adalah", MassaJenis, "kg/m^3")
print("Nilai Gravitasi adalah", Gravitasi, "kg/m^3")
print("Nilai Volume adalah", Volume, "m^3")
print("Nilai Gaya Apung adalah", GayaApung, "N/m^2")

In [ ]:
#C
SisiSegi5 = float(input("Masukan Sisi Segi Lima=\t"))
LuasSegi5 = float((5*SisiSegi5**2)//2.90617)

print(f"sisi dari segi lima sama sisi adalah", SisiSegi5,"m")
print(f"luas dari segi lima sama sisi adalah", LuasSegi5,"m^2")

## 2.

Taman bermain ANCOL memiliki berbagai wahana, salah satunya adalah bianglala. Harga tiket yang dijual berbeda tergantung dengan kategori nya. Harga tiket bagi orang dewasa atau yang berumur lebih dari 17 tahun adalah Rp 110.000 , harga tiket untuk anak-anak usia 6-16 tahun adalah Rp. 75.000 , sedangkan untuk usia dibawahnya tidak dikenakan biaya. Pada wahana bianglala sedang ada "Promo RAMADHAN" sebesar 20% bagi pembelian tiket lebih dari 2 pcs.

Keluarga Anya Forger ingin menaiki wahana bianglala tersebut, Anya (usia 18 tahun) pergi bersama ayah dan ibunya beserta dua adiknya, Harry (usia 8 tahun) dan Taylor (usia 4 tahun). 

> Buatlah program sederhana untuk menghitung harga total dari pembelian tiket  oleh keluarga Anya dan harga tiket setelah mendapatkan diskon

In [ ]:
Dewasa = int(input("Masukkan jumlah orang dewasa dengan umur di atas 17 tahun = "))
AnakAnak = int(input("Masukkan jumlah anak-anak dengan umur 6 sampai 16 tahun = "))
AnakKecil = int(input("Masukkan jumlah anak dengan umur di bawah 6 tahun = "))

HargaTiketUsiaLebihDari17 = 110000
HargaTiketUsia6Sampai16 = 75000
HargaTiketUsiaKurangDari6 = 0

TotalHarga = (HargaTiketUsiaLebihDari17*Dewasa)+(HargaTiketUsia6Sampai16*AnakAnak)+(HargaTiketUsiaKurangDari6*AnakKecil)
JumlahTiket = Dewasa+AnakAnak+AnakKecil

if JumlahTiket>2:
    print("Selamat anda mendapatkan promo RAMADHAN sebesar 20% bagi pembelian tiket lebih dari 2 pcs.")
    TotalHargaSetelahDiskon = TotalHarga * 80/100

print("Jumlah tiket dewasa = ", Dewasa)
print("Jumlah tiket anak-anak = ", AnakAnak)
print("Jumlah tiket anak kecil = ", AnakKecil)
print("Total harga sebelum diskon = ", TotalHarga)
print("Total harga setelah diskon = ",TotalHargaSetelahDiskon)

## 3.

diberikan list aslab sebagai berikut:
```python
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
```
* **A** Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
* **B** Tambahkan informasi berikut pada data aslab dan tampilkan hasilnya:
```python
    surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
```
* **C** Hapus nilai pada kunci "kontak" pada list aslab dan tampilkan hasilnya
> *note: kalian hanya boleh menggunakan key-value pair yang disebutkan di dalam teks, tanpa menggunakan informasi tambahan yang diambil pada list yang ada*

In [ ]:
#A

list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]

for i in range(1, len(list_aslab)):
    print(list_aslab[i]["nama"])

In [ ]:
#B

list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]

surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]

for i in range(0, len(list_aslab)):
    list_aslab[i]["surel"] = surel[i]

print(list_aslab)

In [ ]:
#C

for i in range(0, len(list_aslab)):
    del list_aslab[i]["kontak"]

print(list_aslab)